[Unit]
Description=isitcopernicus.art vault value display
After=network.target

[Service]
Type=idle
ExecStart=/bin/bash /home/pi/copernicusdisplay/updater.sh

[Install]
WantedBy=multi-user.target
